<node pkg="move_base" type="move_base" name="move_base" output="screen">
  <rosparam file="$(find rover_navigation)/config/global_costmap.yaml" command="load"/>
  <rosparam file="$(find rover_navigation)/config/local_costmap.yaml"  command="load"/>
  <rosparam file="$(find rover_navigation)/config/teb_local_planner.yaml" command="load"/>

  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
</node>
