<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro $(find rover_description)/urdf/rover.urdf.xacro"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rover_simulation)/worlds/rover_world.world"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_rover" output="screen"
        args="-urdf -param robot_description -model rover"/>
</launch>
